<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">

        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">Доска объявлений</h4>
                <form role="search">
                    <input class="form-control" type="search" placeholder="Поиск объявления" aria-label="Search">
                </form>
            </div>

            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Навигация</h4>

                <ul class="list-unstyled">
                    {% if user.is_authenticated %}
                    <h5 class="text-white">{{ user.first_name }} {{ user.last_name }} </h5>
                    {% endif %}
                    <li><a href="{% url 'ad:list' %}" class="text-white">Главная</a></li>
                    {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}" class="text-white">Панель администратора</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'users:profile' %}" class="text-white">Мой профиль</a></li>
                    {% endif %}
                    {% if user.is_anonymous %}
                    <li><a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
                    <li><a href="{% url 'users:register' %}" class="text-white">Зарегистрироваться</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <form action="{% url 'users:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link-black">Выйти</button>
                    </form>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>